<ul class="list-group mt-3">
  <li
    *ngFor="let booking of bookings"
    class="position-relative list-group-item d-flex justify-content-between align-items-start border rounded-5 mb-2"
  >
    <div class="ms-2 me-auto">
      <h2 class="fs-4 fw-bold">
        {{ booking.customerName }}
      </h2>
      <p>
        <span>Zimmer: </span>
        <span class="fw-bold">{{ booking.roomNumber }}</span>
      </p>
      <p>
        <span>Anreise: </span>
        <span class="fw-bold">{{ booking.checkIn | date : "dd/MM/yyyy" }}</span>
      </p>
      <p>
        <span>Abreise: </span>
        <span class="fw-bold">{{
          booking.checkOut | date : "dd/MM/yyyy"
        }}</span>
      </p>
    </div>
    <a class="position-absolute bottom-0 end-0 m-2 btn btn-primary" href="#"
      >Buchung ändern</a
    >
  </li>
</ul>
