<div *ngIf="this.loadBookings === true" class="text-center">
  <svg
    version="1.1"
    id="L9"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 100 100"
    enable-background="new 0 0 0 0"
    xml:space="preserve"
    style="height: 100px"
  >
    <path
      fill="currentColor"
      d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"
    >
      <animateTransform
        attributeName="transform"
        attributeType="XML"
        type="rotate"
        dur="1s"
        from="0 50 50"
        to="360 50 50"
        repeatCount="indefinite"
      />
    </path>
  </svg>
</div>
<ul *ngIf="this.loadBookings === false" class="list-group mt-3">
  <li *ngFor="let booking of bookings" class="list-group-item border-0 mb-2">
    <div class="card">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div>
          <h2 class="fs-4 fw-bold">
            {{ booking.customerName }}
          </h2>
          <span class="text-muted">ID: {{ booking.id }}</span>
        </div>
        <div class="d-flex gap-3">
          <a
            class="btn btn-sm btn-success"
            routerLink="/editBooking/{{ booking.id }}"
            >Buchung ändern</a
          >
          <button
            class="btn btn-sm btn-danger"
            (click)="deleteBooking(booking)"
          >
            Buchung löschen
          </button>
        </div>
      </div>
      <div class="card-body">
        <p>
          <span>Zimmer: </span>
          <span class="fw-bold">{{ booking.roomNumber }}</span>
        </p>
        <p>
          <span>Anreise: </span>
          <span class="fw-bold">{{
            booking.checkIn | date : "dd/MM/yyyy"
          }}</span>
        </p>
        <p>
          <span>Abreise: </span>
          <span class="fw-bold">{{
            booking.checkOut | date : "dd/MM/yyyy"
          }}</span>
        </p>
      </div>
    </div>
  </li>
</ul>
