<div class="card">
  <div class="card-header text-center">
    <h2>Neue Buchung eintragen</h2>
    <span class="text-muted">ID: {{ booking.id }}</span>
  </div>
  <form [formGroup]="bookingForm" (ngSubmit)="save()">
    <div
      class="card-body d-flex flex-column justify-content-center align-items-center"
    >
      <div class="d-flex flex-wrap gap-4 justify-content-evenly">
        <div>
          <label class="form-label mb-0" for="customerName">Name</label>
          <input
            class="form-control"
            id="customerName"
            formControlName="customerName"
            type="text"
          />
        </div>
        <div>
          <label class="form-label mb-0" for="roomNumber">Zimmer</label>
          <select
            class="form-select"
            id="roomNumber"
            formControlName="roomNumber"
          >
            <option [ngValue]="null" disabled>Zimmernummer wählen</option>
            <option
              *ngFor="let roomNumber of roomNumbers"
              [ngValue]="roomNumber"
            >
              {{ roomNumber }}
            </option>
          </select>
        </div>
        <div>
          <label class="form-label mb-0" for="checkIn">Anreise</label>
          <input
            class="form-control"
            id="checkIn"
            formControlName="checkIn"
            [value]="booking.checkIn | date : 'yyyy-MM-dd'"
            (input)="dateChanged($event, true)"
            type="date"
          />
        </div>
        <div>
          <label class="form-label mb-0" for="checkOut">Abreise</label>
          <input
            class="form-control"
            id="checkOut"
            formControlName="checkOut"
            [value]="booking.checkOut | date : 'yyyy-MM-dd'"
            (input)="dateChanged($event, false)"
            type="date"
          />
        </div>
      </div>
    </div>
    <div class="card-footer d-grid">
      <button type="submit" class="btn btn-primary col-4 mx-auto">
        Speichern
      </button>
    </div>
  </form>
</div>
