<div class="card">
  <div class="card-header text-center"><h2>Mitarbeiter-Newsletter</h2></div>
  <div class="card-body d-flex justify-content-center">
    <form>
      <label class="form-label mb-0" for="signUpMail"
        >E-Mail Adresse hinzufügen</label
      >
      <input
        class="form-control"
        id="signUpMail"
        name="signUpMail"
        type="email"
      />
    </form>
  </div>
  <div class="card-footer d-grid">
    <button class="btn btn-primary col-4 mx-auto" type="submit">
      Speichern
    </button>
  </div>
</div>
